html, body{
  font-family: Helvetica;
}

h1{
  justify-content: center;
  text-align: center;
  color: #25386b;
  font-size:2rem;
}

nav{
  font-size:1.1rem;
  text-align:center;
}

ul{
  list-style: none;
  display:inline-block;
  text-align: center;
}
h3{
  color:#2ec3e7;
}
p{
  padding-bottom:20px;
}

li{
  float:left;
  margin:30px;
  color:#25386b;
}


div{
  text-align:center;
}


.headform{
  text-align: center;
}
