body {
  background-color: grey;
  margin: 0% 10% 5% 10%;
  font-family: Times, Arial;
}

header h1 {
	text-align: right;
  margin: 0px;
  background-color: yellow;
	font-size:3.3rem;
}

nav {
  margin: 0px;
  text-align:center;
  background-color: green;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

nav li
{
  display: inline-block;
  padding: 0.7rem 0rem;
}

nav a {
	text-align: center;
	text-decoration: none;
	font-size:1.1rem;
  color: white;
  background-color: black;
  margin-left: 0.8px;
  margin-right: 0.8px;
	padding:0.7rem 3rem;
}

aside{
	float:right;
	background-color: white;
	width: 20%;
	height:500px;
	dislay:inline;
	background-image:url("../img/william-shakespeare.jpg");
	background-position: center;
	background-size:200px 200px;
	background-repeat: no-repeat;
}

aside h2{
	margin-left: 2px;
	font-size: 2rem;
	margin-top:0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

aside ul{
	font-size:1.1rem;
	padding-left: 4rem;
	padding-top:0px;
	margin-top:0px;
}

aside ul li{
	margin:2px;
}


.copyright{
	background-color:green;
	margin:0px;
	height:25px;
	text-align:center;
	padding:12.5px;
}

#content{
	background: #525252;
	margin:0px;
	padding:0px;
	height:450px;
}

#content h1{
	margin:0px;
	padding:0px;
}

#content ul{
	text-align: center;
	list-style:none;
	margin:1px;
	padding:0px;
}

#content h1{
	font-size: 3.0rem;
	margin:0px;
	padding:0px;

}

#content p{
	font-size:1.2rem;
	text-align: left;
	width: 90%;
	margin:1px;
	padding:0px;
}
#content ul li{
	font-size: 1.2rem;
}
